deeppicar/
hls4ml_0/deeppicar/
deepfpgamicro/deeppicar/
deepfpgamicro/tmp/
deepfpgamicro/__pycache__/
*.pyc
NAS/__pycache__/dataset.cpython-310.pyc
NAS/__pycache__/model.cpython-310.pyc
NAS/__pycache__/params.cpython-310.pyc
NAS/__pycache__/tools.cpython-310.pyc
NAS/__pycache__/contrib.cpython-310.pyc
NAS/__pycache__/contrib.cpython-310.pyc
NAS/__pycache__/*
__pycache__/*
.venv
.python-version
